/*desktop view*/
body{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
}
.bg-left-half {
  position: relative; }

.bg-left-half:before {
  position: absolute;
  width: 60%;
  height: 120%;
  z-index: -1;
  content: "";
  left: 20%;
  right: 20%;
  top: 0;
  background-color: #f8f9fa; }

.img-circle{
  border-radius: 50%;
  border : 2px solid red;
}

.link-hover:hover{
  box-shadow: 0 2rem 4rem rgba(0,0,0,0.105)!important;
  /*transition-delay: 0.5s;*/
  transition: all 0.8s;
  /*transition-timing-function: linear;*/
}
.material-icons{
	margin-right: 35px !important;
}
.rounded-circle {
    border: 1px solid #dee2e6!important;
    border-radius: 25px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000 !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7) !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 3.5rem !important;
}
/*h1 { font-family: 'Roboto', sans-serif; }*/
.fs-4-5{
	font-size: 4.5rem;
}
.fs-12{
	font-size: 12px !important;
}
.ml-10px{
	margin-left: 10px;
}

/*mobile screens*/
@media only screen and (min-width: 600px) {
  .navbar-expand-lg .navbar-nav .nav-link{
  	padding-left: 0rem !important;
  }
  .hovereffect img{
  	display: inline-block !important;
  }
  .material-icons{
    margin-left: 100px !important;
  }
  .bg-left-half:before {
  	width: 80%;
  	left: 10%;
  }
  .owl-carousel.owl-drag .owl-item{
 	/*width: 100% !important;*/
  }
} 

/*Large screens*/
@media only screen and (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link{
  	padding-left: 3.5rem !important;
  }
  .material-icons{
    margin-left: 0px !important;
  }
  .owl-carousel.owl-drag .owl-item{
 	/*width: 366.667px !important;*/
  }
}